@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #0093E9;
}
.header
{
    color: white;
    font-family: 'Nunito',sans-serif;
    text-align: center;
    margin: 25px;
}
.container
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   height: 500px;
   width: 550px;
}
input{
    padding: 6px 4px;
    width: 70%;
}
button
{
    padding: 7px 14px;
    background-color: #00b0ff;
    border: none;
    border-radius: 4px;
    color: #fafafa;
}
.add-element
{
    align-content: center;
    width: 100%;
    height: 20%;
}
.element-input
{
    background-color: #fafafa;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,.16); 
}
.element-list
{
    font-family: 'Nunito',sans-serif;
    margin-top: 3px;
    overflow-y: scroll;
    width: 100%;
    height: 80%;
    overflow-x: hidden;
}
li{
    font-family: 'Nunito',sans-serif;;
    list-style: none;
    padding: 10px 5px;
    background-color: #fff;
    width: 98%;
    margin-left: 1%;
    margin-top: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    border-radius: 5px;
    transition: .4s;
}
button:hover{
    background-color: #1565c0;
}

li:hover{
    background-color: #e0e0e0;
}
.done
{
    text-decoration: line-through;
    background-color: #e0e0e0;
}